*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
}

p{
    font-family: roboto, Arial, Helvetica, sans-serif
}

.main-contain{
    display: flex;
    height: 100vh;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    
}

#left-side{
    background-image: url(img/photo-1668625598309-d1ade75f6c17.jpg);
    flex: 3;
    width: 30%;
    background-size: cover;
}

#right-side{
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #c2c0c0;
}

#description, #form-holder{
    font-weight: bold;
    font-size: 21px;
}

#form-holder{
    background-color: white;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

label{
    font-size: 12px;
}

.inner{
    padding: 20px;
}

.form{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: white;
}

.form-container{
    flex: 1 1 45%;
}

input[type=text]:invalid, input[type=email]:invalid, input[type=password]:invalid{
    border-color: red;
}




