*{
    margin: 0;
    padding: 0;
}
.main-contain{
    display: flex;
    border: 1px solid black;
    height: 100vh;
}

.sub-contain{
    display:flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    width: 250px;
}

img{
    object-fit: cover;
    height: 100%;
 }

#logo{
    width: 35%;
}

.inner{
    border: 1px solid red;
    padding: 20px;
}

.form-group{
   display: flex;
}



